h1 {
    text-align: center;
}

.ball {
    position: relative;
    top: calc(0% - 5vh);
    left: calc(0% - 5vh);
    width: 10vh;
    height: 10vh;
    background-color: red;
}

.paddle {
    position: absolute;
    top: 50vh;
    width: 10vh;
    height: 20vh;
    background-color: red;
}

.boardGame {
    margin: auto;
    height: 80vh;
    width: 80vw;
    background-color: blue;
}
