h1 {
    text-align: center;
}

.ball {
    --x: 0;
    --y: 0;
    --radius: 4vh;

    position: relative;
    top: calc(calc(var(--x) * 1%) - var(--radius));
    left: calc(calc(var(--y) * 1%) - var(--radius));
    width: calc(var(--radius) * 2);
    height: calc(var(--radius) * 2);
    background-color: red;
}

.paddle {
    position: absolute;
    top: 50vh;
    width: 10vh;
    height: 20vh;
    background-color: red;
}

.boardGame {
    margin: auto;
    height: 80vh;
    width: 80vw;
    background-color: blue;
}
