.chBox h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    margin-top: 50px;
    margin-bottom: 50px;
    color: #ffffff;
    text-align: center;
}

li {
    list-style-type: none;
}

.chBox ul {
    display: block;
}

.chList {
    margin: 10px;
    text-align: left;
    padding-left: 10%;
    font-weight: 600;
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    border-radius: 44px;
    border: 1px solid #ffffff;
    list-style-type: none;
    align-items: center;
}

.joined {
    border: 1px solid var(--color-mid-green);
    /* color: #aa6ec9; */
}

.newCh {
    display: flex;
    justify-content: space-between;
    width: 60%;
    font-weight: 700;
    --bg: #000;
    --hover-bg: var(--color-mid-green);
    --hover-text: var(--color-black);
    color: #fff;
    box-sizing: border-box;
    transition: 0.4s;
    background: var(--color-purple);
}

.newCh:hover {
    color: var(--hover-text);
    transform: translate(+3rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.newCh:active {
    transform: translate(0);
    box-shadow: none;
}

.addChannelIcon {
    width: var(--size-icon);
    height: var(--size-icon);
    transform: scale(70%);
}

.privateIcon {
    width: var(--size-icon);
    height: var(--size-icon);
    transform: scale(70%);
    background-color: red;
}

@media screen and (max-width: 1200px) {
    .chBox {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .chBox {
        width: 90%;
    }
}
