.container {
    box-sizing: border-box;
    height: 70vh;
    min-width: 18rem;
    padding: 0 0 0 2rem;
    width: 33%;
    margin: 15px;
    border-radius: 10px;
    overflow: scroll;
}

.chatBox {
    box-sizing: border-box;
    height: 85%;
    border-radius: 10px;
    border: 1px solid #3a3a42;
    background: #091522;
    opacity: 100;
    overflow: hidden;
}

/* @media screen and (max-width:1200px) {
	.chatBox {
		width: 40%;
	}
} */

@media screen and (max-width: 600px) {
    .chatBox {
        width: 90%;
    }
}
