/* CurrentChat  CurrentChat  CurrentChat  CurrentChat  CurrentChat  CurrentChat */
/* CurrentChat  CurrentChat  CurrentChat  CurrentChat  CurrentChat  CurrentChat */
/* CurrentChat  CurrentChat  CurrentChat  CurrentChat  CurrentChat  CurrentChat */
/* word-spacing: 0.25em; */

.currentChat {
    box-sizing: border-box;
    height: 20px;
}

.currentChat ul {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    letter-spacing: 0.1em;
}
/* justify-content: flex-start; */

.currentChat li {
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    list-style-type: none;
}

.activeCh {
    color: white;
}

.inactiveCh {
    color: #8d8e99;
}
