.usersBox {
    height: 70vh;
    min-width: 18rem;
    padding: 0 0 0 2rem;
    /* padding: 45px 10px 25px 45px; */
    border-radius: 25px;
    background: var(--color-black-transparent);
    opacity: 1;
    overflow: scroll;
}

.usersBox h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-top: 50px;
    color: var(--color-white);
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .usersBox {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .usersBox {
        width: 90%;
    }
}
