.li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 2rem 4rem;
    background-color: var(--color-black);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 3rem auto 2rem;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: var(--color-white);
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid var(--color-white);
    transition: 0.5s ease;
    user-select: none;
}

.btn:hover {
    color: var(--color-white);
    background: var(--color-light-green);
    border: 1px solid var(--color-light-green);
    text-shadow: 0 0 5px var(--color-white), 0 0 10px var(--color-white),
        0 0 20px var(--color-white);
    box-shadow: 0 0 5px var(--color-light-green),
        0 0 20px var(--color-light-green), 0 0 50px var(--color-light-green),
        0 0 100px var(--color-light-green);
}
